@{
    ViewBag.Title = "Home";
}

<main class="mx-4 text-base text-gray-200">
    <section id="home" class="w-full h-full md:h-screen m-auto mt-24 px-4 text-left">
        <h1 class="pt-6 text-2xl text-center">Bem-vindo <span class="text-yellow-400 break-words">Danillo</span> ao nosso site de planos de saúde para gatos e cachorros!</h1>
        <div class="w-full mt-10 md:mt-40 justify-center items-center flex flex-col md:flex-row gap-4 lg:gap-12">
            <img src="~/Content/assets/image-veterinary-theme-dark.svg" alt="" class="w-full max-w-md">
            <p class="w-auto md:max-w-sm tracking-wide whitespace-normal">Aqui você encontrará opções de planos que oferecem atendimento médico veterinário completo para seu animal de estimação. Cuidar da saúde dos nossos pets é uma preocupação constante e por isso, oferecemos serviços e produtos de qualidade para manter seus animais sempre saudáveis e felizes.</p>
        </div>
    </section>

    <section id="about" class="w-full h-full md:h-screen mx-auto pt-32 px-4 text-left justify-center top-2/4">
        <h2 class="text-xl text-center text-yellow-400">Sobre</h2>

        <span class="w-full md:max-w-3xl my-10 mx-auto py-6 flex flex-col md:flex-row justify-center rounded-lg text-left">
            <p class="w-auto md:max-w-2xl tracking-wide whitespace-normal">Oferecemos diversos planos de saúde para gatos e cachorros, cada um com diferentes coberturas e valores. Nossos planos básicos incluem consultas, exames e vacinas, enquanto nossos planos mais completos cobrem procedimentos cirúrgicos e internações. Oferecemos também planos para pets idosos e com doenças crônicas. Todos os nossos planos possuem atendimento emergencial 24 horas.</p>
        </span>

        <div class="w-full md:max-w-3xl my-20 mx-auto py-6 flex flex-col md:flex-row justify-center rounded-lg text-center gap-16 md:gap-32">
            <div class="flex flex-col justify-center items-center">
                <img src="~/Content/assets/customer-theme-dark.svg" alt="" class="w-12 h-12">
                <h4 class="text-2xl text-gray-200 uppercase">+3.5k</h4>
                <span class="text-gray-200">Clientes Atendidos</span>
            </div>

            <div class="flex flex-col justify-center items-center">
                <img src="~/Content/assets/pets-theme-dark.svg" alt="" class="w-12 h-12">
                <h4 class="text-2xl text-gray-200 uppercase">+130k</h4>
                <span class="text-gray-200">Pets Registrados</span>
            </div>

            <div class="flex flex-col justify-center items-center">
                <img src="~/Content/assets/customer-satisfaction-theme-dark.svg" alt="" class="w-12 h-12">
                <h4 class="text-2xl text-gray-200 uppercase">+95%</h4>
                <span class="text-gray-200">Satisfação dos Clientes</span>
            </div>
        </div>
    </section>
</main>